<header [class.scrolled]="isScrolled()">
  <div class="nav-logo">
    <span class="logo-bracket">[</span>
    PS
    <span class="logo-bracket">]</span>
  </div>

  <nav class="nav-links" [class.open]="menuOpen()">
    <a (click)="scrollTo('about'); closeMenu()" class="nav-link">
      <span class="link-index">01</span>
      <span class="link-label">PROFIL</span>
    </a>
    <a (click)="scrollTo('skills'); closeMenu()" class="nav-link">
      <span class="link-index">02</span>
      <span class="link-label">STACK</span>
    </a>
    <a (click)="scrollTo('experience'); closeMenu()" class="nav-link">
      <span class="link-index">03</span>
      <span class="link-label">EXPÉRIENCES</span>
    </a>
    <a (click)="scrollTo('projects'); closeMenu()" class="nav-link">
      <span class="link-index">04</span>
      <span class="link-label">PROJETS</span>
    </a>
  </nav>

  <div class="nav-actions">
    <div class="status-indicator">
      <span class="status-dot"></span>
      <span class="status-text">IN PROGRESS</span>
    </div>
    <button
      class="beatbox-btn"
      (click)="openBeatbox()"
      [class.active]="appState.showBeatbox()"
    >
      <!-- <span class="material-symbols-outlined">music_cast</span> -->
      <i class="fa-solid fa-drum fa-lg"></i>
      BEAT_LAB
    </button>
    <button class="cta-btn" (click)="scrollTo('contact')">
      SEND_DEMO
      <span class="material-symbols-outlined">send</span>
    </button>
    <button
      class="hamburger"
      (click)="toggleMenu()"
      [class.active]="menuOpen()"
    >
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
